vaadin-scroller[slot="drawer"] {
  padding: var(--lumo-space-s);
}

vaadin-side-nav-item vaadin-icon {
  padding: 0;
}

[slot="drawer"]:is(header, footer) {
  display: flex;
  align-items: center;
  gap: var(--lumo-space-s);
  padding: var(--lumo-space-s) var(--lumo-space-m);
  min-height: var(--lumo-size-xl);
  box-sizing: border-box;
}

[slot="drawer"]:is(header, footer):is(:empty) {
  display: none;
}
.headerInfoCount {
    float: right
}

.headerInfo {
    flex-grow: 2;
}

.rawContent {
    padding:10px;
    font-family: monospace;
}

.toppanel {
    background: var(--lumo-contrast-10pct);
    padding-left:10px;
    padding-right:10px;
    border-radius: 6px;
}

.apptitle {
    margin-right: 50px;
    color: var(--lumo-primary-color-50pct);
}

.itemlistentry {
    white-space-collapse: preserve;
    font-family: monospace;
    vertical-align: middle;
    line-height: 24px;
    height: 24px;
    cursor: default;
    overflow: hidden;
}

.itemlistentry span {
    vertical-align: middle;
    display: inline-block;
    line-height: 24px;
    height: 24px;
}

.itemlistentryicon {
    margin-top: 4px;
}

.itemlistentry:hover {
  background-color: LightGray;
}